# Environments and Local Configuration
.env
.env.*
!.env.example
.vscode/

# Python Defaults
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter
.ipynb_checkpoints
*.ipynb

# Package managers
node_modules/
.pixi/*
!.pixi/config.toml

# Datasets & Models
backend/dataset/*.csv
backend/models/sentiment/*.pt
backend/models/sentiment/*.bin
backend/models/sentiment/*.json

# Testing
.pytest_cache/
htmlcov/
.coverage

# Others
.backups/
*.rar
.DS_Store